<div id="add-for-container" class="container">
        <div class="row"></div>
        <div class="col-md-12">

            <h2>Abrir Vaga</h2>
            <form id="add-job-form">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrição</label>
                    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salário</label>
                    <input type="number" class="form-control" id="salary" name="salary" required>
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Companhia</label>
                    <input type="text" class="form-control" id="company" name="company" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <input type="hidden" name="new_job" value="1">
                <button type="submit" class="btn btn-primary">Criar Vaga</button>
            </form>

        </div>





    </div>